:root {
    --custom-blue: #00aeef;
    --custom-black: #231f20;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.content-head-separator {
    /* background-color: var(--custom-blue); */
    background-color: black;
    width: 4px;
    position: absolute;
    left: 150%;
    bottom: -25%;
    height: 150%;
}

.arrow-left {
    position: absolute;
    left: 140%;
    top: 20%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--custom-blue);
    ;
}

.clickable-row:hover {
    cursor: pointer;
}

th:hover {
    cursor: pointer;
}


.set-border-bottom-hover:hover {
    border-bottom: 3px solid var(--custom-blue);
    margin-bottom: -3px;
}

#table_filter {
    margin-bottom: 15px;
}

#table_filter>label {
    font-size: 0;
}

#table_filter>label:before {
    content: "Buscar: ";
    font-size: 1rem;
}

#table_filter>label>input {
    margin-left: 10px;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* LOGIN / REGISTRO */
.container-eye-form-password {
    position: absolute;
    left: 86%;
    top: 50%;
}

.eye-form-password {
    background-color: #e4e4e4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 9px 20px;
    border: 1px solid #c5c5c5;
}

.required:after {
    content:" *";
    font-size: large;
    color: red;
}