---
swagger: "2.0"
info:
  description: "Esta es la API de Kolvintrícula, aplicación de matrículas para INS\
    \ Pedralbes"
  version: "1.0.0"
  title: "API Kolvintrícula"
  contact:
    email: "inspedralbes@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "labs.iam.cat"
basePath: "/~a18pabgombra/Kolvintricula/backend/public/api"
tags:
- name: "Rutas disponibles"
  description: "Todas las llamadas disponibles a la API"
schemes:
- "http"
paths:
  /courses:
    get:
      tags:
      - "Rutas disponibles"
      summary: "Lista de cursos"
      description: "Petición GET que devuelve una lista de todos los cursos actuales\n"
      operationId: "listaCursos"
      produces:
      - "application/json"
      parameters: []
      responses:
        "200":
          description: "GET realizado con éxito"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Course"
      x-swagger-router-controller: "RutasDisponibles"
  /student/{nif}:
    get:
      tags:
      - "Rutas disponibles"
      summary: "Muestra los datos de un estudiante"
      description: "Petición GET con la que obtenemos todos los datos del estudiante\
        \ pasandole como parámetro en la URL su NIF\n"
      operationId: "getStudentById"
      produces:
      - "application/json"
      parameters:
      - name: "nif"
        in: "path"
        description: "NIF del estudiante a buscar"
        required: true
        type: "string"
      responses:
        "200":
          description: "GET realizado con éxito"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Student"
      x-swagger-router-controller: "RutasDisponibles"
  /courses/{id}/modules:
    get:
      tags:
      - "Rutas disponibles"
      summary: "Muestra toda la estructura de un curso"
      description: "Petición GET con la que obtenemos todos los módulos con sus correspondientes\
        \ UF de un año y curso determinados\n"
      operationId: "modules_ufsGenerator"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "Id del curso sobre el que construir la respuesta"
        required: true
        type: "number"
      responses:
        "200":
          description: "GET realizado con éxito"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Modules_UFsGenerator"
      x-swagger-router-controller: "RutasDisponibles"
  /students/find:
    post:
      tags:
      - "Rutas disponibles"
      summary: "Busca el estudiante con los argumentos solicitados"
      description: "Petición POST en la cual se pasará en el body los argumentos necesarios\
        \ para buscar y obtener de vuelta los datos de un estudiante en concreto.\n"
      operationId: "searchStudent"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "studentData"
        description: "Objeto con los parametros del estudiante a buscar"
        required: false
        schema:
          $ref: "#/definitions/SearchStudentData"
      responses:
        "200":
          description: "Devuelve boleanos indicando si ha encontrado los datos enviados"
      x-swagger-router-controller: "RutasDisponibles"
  /enrolments/add:
    post:
      tags:
      - "Rutas disponibles"
      summary: "Añade una nueva matricula"
      description: "Petición POST en la cual se pasará en el body todos los datos\
        \ necesarios para crear la matricula al nuevo estudiante\n"
      operationId: "addEnrolment"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "enrolmentData"
        description: "Objeto con los datos de la nueva matricula"
        required: false
        schema:
          $ref: "#/definitions/AddEnrolmentData"
      responses:
        "200":
          description: "Devuelve boleanos indicando si ha encontrado los datos enviados"
      x-swagger-router-controller: "RutasDisponibles"
definitions:
  Course:
    type: "object"
    required:
    - "description"
    - "id"
    - "name"
    - "state"
    - "type"
    properties:
      id:
        type: "integer"
        example: 1
      type:
        type: "string"
        example: "CFGS"
      name:
        type: "string"
        example: "DAM"
      description:
        type: "string"
        example: "Desarrollo de Aplicaciones Multiplataforma"
      state:
        type: "string"
        example: "MATRICULA"
    example:
      name: "DAM"
      description: "Desarrollo de Aplicaciones Multiplataforma"
      id: 1
      state: "MATRICULA"
      type: "CFGS"
  Student:
    type: "object"
    required:
    - "date_birth"
    - "email_pedralbes"
    - "email_personal"
    - "enrolment_status"
    - "id"
    - "last_name1"
    - "last_name2"
    - "mobile_number"
    - "name"
    - "nif"
    - "photo_path"
    properties:
      id:
        type: "integer"
        example: 1
      nif:
        type: "string"
        example: "48184496W"
      name:
        type: "string"
        example: "Santiago"
      last_name1:
        type: "string"
        example: "Abascal"
      last_name2:
        type: "string"
        example: "Conde"
      date_birth:
        type: "string"
        example: "1998-03-23"
      mobile_number:
        type: "number"
        example: 6.83456524E8
      photo_path:
        type: "string"
        example: "448558383.png"
      enrolment_status:
        type: "string"
        example: "MATRICULADO"
      email_personal:
        type: "string"
        example: "santivox@derechas.com"
      email_pedralbes:
        type: "string"
        example: "a21sanabacon@inspedralbes.cat"
    example:
      date_birth: "1998-03-23"
      last_name1: "Abascal"
      email_personal: "santivox@derechas.com"
      last_name2: "Conde"
      name: "Santiago"
      email_pedralbes: "a21sanabacon@inspedralbes.cat"
      nif: "48184496W"
      id: 1
      mobile_number: 6.83456524E8
      enrolment_status: "MATRICULADO"
      photo_path: "448558383.png"
  Modules_UFsGenerator:
    type: "object"
    required:
    - "modules"
    - "year"
    properties:
      year:
        type: "integer"
        example: 1
      modules:
        type: "array"
        items:
          type: "object"
          properties:
            id:
              type: "integer"
              example: 1
            name:
              type: "string"
              example: "MP1"
            description:
              type: "string"
              example: "Sistemes informàtics"
            ufs:
              type: "array"
              items:
                type: "object"
                properties:
                  name:
                    type: "string"
                    example: "UF1"
                  description:
                    type: "string"
                    example: "Sistemes informàtics UF"
                  year:
                    type: "integer"
                    example: 1
                  id_module:
                    type: "string"
                    example: "1"
    example:
      year: 1
      modules:
      - "{}"
      - "{}"
  SearchStudentData:
    type: "object"
    required:
    - "email"
    - "nif"
    properties:
      nif:
        type: "string"
        example: "48184496W"
      email:
        type: "string"
        example: "santivox@derechas.com"
    example:
      nif: "48184496W"
      email: "santivox@derechas.com"
  AddEnrolmentData:
    required:
    - "academic_data"
    - "consent"
    - "custodians"
    - "student"
    properties:
      student:
        type: "object"
        properties:
          updateStudent:
            type: "boolean"
            example: false
          name:
            type: "string"
            example: "Santiago"
          last_name1:
            type: "string"
            example: "Abascal"
          last_name2:
            type: "string"
            example: "Conde"
          date_birth:
            type: "string"
            example: "1988-03-23"
          mobile_number:
            type: "number"
            example: 6.83456524E8
          photo_path:
            type: "string"
      custodians:
        type: "array"
        items:
          type: "object"
          properties:
            type:
              type: "string"
              example: "PADRE"
            nif:
              type: "string"
              example: "21465786G"
            name:
              type: "string"
              example: "Mariano"
            last_name1:
              type: "string"
              example: "Rajoy"
            last_name2:
              type: "string"
              example: "Brey"
            date_birth:
              type: "string"
              example: "1979-11-03"
            mobile_number:
              type: "number"
              example: 6.64856528E8
      academic_data:
        type: "object"
        properties:
          course:
            type: "object"
            properties:
              type:
                type: "string"
                example: "CFGS"
              name:
                type: "string"
                example: "DAM"
              description:
                type: "string"
                example: "Desarrollo de Aplicaciones Multiplataforma"
          year:
            type: "integer"
            example: 1
          modules:
            type: "object"
            properties:
              MP1:
                type: "array"
                items:
                  type: "string"
                  example: "UF1,UF2,UF3"
              MP2:
                type: "array"
                items:
                  type: "string"
                  example: "UF4,UF5,UF6"
      consent:
        type: "object"
        properties:
          alergias:
            type: "string"
            example: "No"
          enfermedades:
            type: "string"
            example: "No"
          medicamentos:
            type: "string"
            example: "No"
          otros:
            type: "string"
            example: "No"
          c2:
            type: "boolean"
            example: true
          c3:
            type: "boolean"
            example: true
          c4:
            type: "boolean"
            example: true
          c5:
            type: "boolean"
            example: true
          c6:
            type: "boolean"
            example: true
          c7:
            type: "boolean"
            example: true
          firma:
            type: "string"
            example: "3542356.png"
    example:
      student: "{}"
      academic_data: "{}"
      custodians:
      - "{}"
      - "{}"
      consent: "{}"
